﻿* {
    font-family: Tahoma, Geneva, sans-serif;
    text-align: center;
}

body {
    background-color: rgb(212, 212, 212);
}

main {
    background-color: rgb(141, 141, 141);
    border: solid rgb(67, 67, 67) 4px;
    min-height: 800px;
    width: 500px;
    margin: auto;
}

input[type='submit'], button, [aria-label] {
    cursor: pointer;
}

#spoiler {
    display: none;
}

.table-none {
    display: none;
}

header h1 {
    font-weight: 100;
    font-size: 50px;
    margin: 0;
}

header h2 {
    font-weight: 100;
    font-size: 20px;
    margin: 0;
}

.table-container {
    width: 95%;
    margin: auto;
}

table tr th:nth-child(1) {
    width: 15%;
}

table tr th:nth-child(2) {
    width: 65%;
}

table tr th:nth-child(3) {
    width: 10%;
}

table tr th:nth-child(4) {
    width: 10%;
}

th {
    background-color: #0066CC;
    color: white;
}

td {
    padding: 5px;
}

.form-header {
    margin: 5px;
}

.form-container input[type='text'] {
    width: 70%;
}

.form-container input[type='submit'] {
    width: 15%;
}

.form-container input[type='checkbox'] {
    width: 20px;
    height: 20px;
}

.form-container input {
    height: 30px;
    font-size: 20px;
}

.form-container {
    border-top: solid rgb(67, 67, 67) 2px;
    border-bottom: solid rgb(67, 67, 67) 2px;
    width: 80%;
    margin: auto;
    margin-top: 15px;
    padding: 20px;
}

.list-counter {
    font-weight: 100;
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 15px;
}